@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
    font-family: 'Merriweather';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}

h1 {
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 3rem;
}

.container  {
    width: 900px;
    height: 100%;
    margin: 120px auto;
}

.blog-title {
    line-height: 40px;
    width: 100%;
    height: 14%;
    border-bottom: 1px solid lightgray;
}

.top-post {
    width: 100%;
    height: 35%;
    display: flex;
    padding-top: 20px;
}
.top-post > img {
    width: 65%;
}

.post-details {
    width: 100%;
}

.top-post-details > h3 {
    font-size: 1.6rem;
}

.post-details > h3 {
    font-weight: 300;
    margin: 10px 0;
    font-size: 1.3rem;

}

.post-details > h6 {
    font-size: 0.9rem;
    margin-bottom: 10px;

}

.top-post-details {
    width: 35%;
    margin-left: 45px;
    margin-top: 30px;

}

.other-posts {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
}

.other-post {
    width: 30%;
    height: 100%;
}

.other-post > img {
    width: 100%;
}

.bio {
    margin-top: 20px;
    display: flex;
}

.bio > img {
    border-radius: 100%;
    width: 40px;
    margin-right: 12px;

}

