@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    background: cornsilk;
}
body, html {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.container  {
    text-align: left;
    min-width: 80vw;
    height: 100vh;
    margin-top: 50px;
}

h1 {
    font-family: Montserrat;
    font-weight: bold;
}
p {
    padding-bottom: 35px;
    border-bottom: 2px solid rgb(177, 176, 191);
}

.first-container {
    border: 3px solid black;
}

img {
    width: 50%;
}